<header>
    <h1 class="titulo">Bienvenido a CineManía</h1>
    <p class="subtitulo">¡Tu destino para descubrir las mejores películas!</p>
  </header>
  <header class="app-header">
    <h1 class="app-title">CineFlix</h1>
    <p class="app-tagline">¡Disfruta de los mejores estrenos y clásicos del cine!</p>
  </header>
  
  <main>
    <section class="destacado">
      <h2>Película Destacada</h2>
      <!-- Aquí puedes colocar la imagen y la información de la película destacada -->
    </section>
  
    <section class="cartelera">
      <h2>Próximos Estrenos</h2>
      <!-- Aquí puedes mostrar una lista de próximos estrenos -->
    </section>
  
    <section class="categorias">
      <h2>Explora Nuestras Categorías</h2>
      <!-- Aquí puedes mostrar botones o imágenes representativas de diferentes categorías de películas -->
    </section>
  </main>
  
  <footer>
    <p>&copy; 2024 CineManía - Todos los derechos reservados</p>
  </footer>
  
<router-outlet></router-outlet>